/* CSS grid*/

header,
footer {
  background-color: #11172d;
  color: #f5fafc;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}

body {
  font-family: "Quattrocento Sans", Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5fafc;
  width: 100%;
  box-sizing: border-box;
}

p,
h3 {
  margin: 0;
}

nav,
#hamburger-menu {
  display: none;
}

/*nav li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
}*/

header a {
  color: #11172d;
  text-decoration: none;
  padding: 15px;
}

footer a {
  color: #f5fafc;
  text-decoration: none;
  padding: 15px;
}

h1,
h2 {
  font-family: "Quattrocento", serif;
}

header.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
}
.logo {
  max-height: 50px;
}

.container-shopnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 48vh;
  max-height: 88vh;
  margin-bottom: 50px;
}
.wrapper {
  display: inline-grid;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
}
.bottom {
  grid-column: 2;
  grid-row: 3;
  width: fit-content;
  block-size: fit-content;
}

.waterproof {
  background-color: #11172d;
  color: #f5fafc;
  text-align: center;
  padding: 30px 16px;
}

.waterproof p {
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.5em;
}

/* CTA */
.cta {
  background-color: #fc8118;
  color: #f5fafc;
  border-radius: 25px;
  font-size: 1.125em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
}

.cta-light {
  background-color: transparent;
  border: 2px solid;
  border-color: #f5fafc;
  font-size: 1em;
  margin: 20px 0;
  display: inline-block;
}

/* Hamburger menu */

#hamburger-menu:checked ~ nav {
  display: block;
  background-color: #f5fafc;
}

/* Home */
/*.background-men {
  background-image: url(../images/home-man.jpg);
  background-size: cover;
  background-repeat: none;
  background-position-x: left;
  background-position-y: bottom;
  min-height: 48vh;
  width: 100%;
  text-align: center;
  padding-top: 65%;
  box-sizing: border-box;
}

.background-women {
  background-image: url(../images/home-women.jpg);
}*/

.item-shop-men {
  background-image: url(../images/home-man.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
  width: 100%;
  min-height: 48vh;
  max-height: 100vh;
}

.item-shop-women {
  background-image: url(../images/home-women.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

/* Best sellers */
.container-best-sellers {
  padding: 30px;
}

.product-img {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 250px;
  z-index: 1;
}

.product-card {
  display: grid;
  grid-template-columns: 50px 75px 75px 50px;
  width: 250px;
  grid-template-rows: 50px auto;
  grid-row-gap: 5px;
}

.product-title {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 3;
  font-size: 1.5em;
}

.product-fav {
  width: 50%;
  justify-self: center;
  align-self: center;
  grid-column: 4;
  grid-row: 3;
}

.product-description {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 4;
  font-size: 1.125em;
}

.product-price {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 7;
  font-weight: bold;
  font-size: 1.125em;
}

.product-sale {
  grid-column: 1;
  grid-row-start: 1;
  z-index: 2;
  align-self: center;
}

/* Get updates */
.subscribe {
  background-color: #e9eef1;
  color: #11172d;
  text-align: center;
  padding: 30px 16px;
}

.subscribe p {
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.5em;
}

fieldset {
  border: none;
}

/* Media Quieries */
@media (min-width: 600px) {
  nav {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  header a {
    color: #f5fafc;
  }

  nav ul,
  nav a {
    list-style-type: none;
    margin: 0 25px;
    padding: 0;
    text-transform: uppercase;
  }

  nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
  }

  nav ul {
    display: flex;
  }

  /*nav ul li {
    margin-right: 30px;

  }
*/

  /*.nav-icons {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    justify-items: center;
    align-items: center;
  }

  .icon {
    width: fit-content;
    block-size: fit-content;
  }*/

  figure {
    display: flex;
    flex-flow: column;
    max-width: 36px;
    align-items: center;
    justify-content: space-evenly;
  }

  figure figcaption {
    font-size: smaller;
    padding: 5px;
  }

  .hamburger {
    display: none;
  }

  .container-shopnav {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .waterproof p {
    padding-left: 30%;
    padding-right: 30%;
  }
}
